/* Background */
.chroma {
    background-color: #ffffff;
}

.chroma .bp,
.chroma .ow {
    color: #005cc5;
}

/* Text / Foreground */
.chroma .n,
.chroma .cl{
    color: #24292e;
}

/* Error */
.chroma .err {
    color: #b31d28;
    background-color: #ffeef0;
}

/* Comments */
.chroma .c,
.chroma .cm,
.chroma .c1,
.chroma .cs {
    color: #2C9748;
}

/* Keywords (if, else, for, etc.) */
.chroma .k,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr {
    color: #d73a49;
}

/* Strings */
.chroma .s,
.chroma .sb,
.chroma .sc,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss {
    color: #032f62;
}

/* Numbers */
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .mo,
.chroma .il {
    color: #005cc5;
}

/* Classes and Functions */
.chroma .nc,
.chroma .nf {
    color: #6f42c1;
}

/* Constants */
.chroma .no {
    color: #005cc5;
}

/* Built-in Constants */
.chroma .kc {
    color: #d73a49;
}

/* Variable and Property Names */
.chroma .nv,
.chroma .nn,
.chroma .py {
    color: #e36209;
}

/* Additional Keywords */
.chroma .kt {
    color: #d73a49;
}

/* Punctuation */
.chroma .p {
    color: #24292e;
}

/* Operators */
.chroma .o {
    color: #d73a49;
}

/* Boolean Constants */
.chroma .nb {
    color: #d73a49;
}

/* Decorators / Annotations */
.chroma .nd {
    color: #6f42c1;
}

/* Exceptions */
.chroma .ne {
    color: #b31d28;
}

/* Library Functions */
.chroma .nf {
    color: #6f42c1;
}

/* Metadata / Preprocessor Instructions */
.chroma .cp {
    color: #d73a49;
}

/* Selection */
.chroma .gd {
    background-color: #ffdddd;
}

.chroma .gi {
    background-color: #ddffdd;
}

.chroma .gh {
    color: #6f42c1;
}

.chroma .gp {
    color: #6a737d;
}

.chroma .gs {
    font-weight: bold;
}

.chroma .gu {
    color: #5b2c83;
}

.chroma .gt {
    color: #e36209;
}

/* Diff */
.chroma .gd {
    color: #b31d28;
    background-color: #ffeef0;
}

.chroma .gi {
    color: #22863a;
    background-color: #f0fff4;
}

/* Dark theme*/
/* Background */

.dark .chroma .bp,
.dark .chroma .ow{
    color: #79c0ff;
}
.dark .chroma {
    background-color: #0d1117;
}

/* Text / Foreground */
.dark .chroma .n,
.dark .chroma .cl{
    color: #c9d1d9;
}

/* Error */
.dark .chroma .err {
    color: #ffa198;
    background-color: #490202;
}

/* Comments */
.dark .chroma .c,
.dark .chroma .cm,
.dark .chroma .c1,
.dark .chroma .cs {
    color: #2C9748;
}

/* Keywords (if, else, for, etc.) */
.dark .chroma .k,
.dark .chroma .kd,
.dark .chroma .kn,
.dark .chroma .kp,
.dark .chroma .kr {
    color: #ff7b72;
}

/* Strings */
.dark .chroma .s,
.dark .chroma .sb,
.dark .chroma .sc,
.dark .chroma .sd,
.dark .chroma .s2,
.dark .chroma .se,
.dark .chroma .sh,
.dark .chroma .si,
.dark .chroma .sx,
.dark .chroma .sr,
.dark .chroma .s1,
.dark .chroma .ss {
    color: #a5d6ff;
}

/* Numbers */
.dark .chroma .m,
.dark .chroma .mb,
.dark .chroma .mf,
.dark .chroma .mh,
.dark .chroma .mi,
.dark .chroma .mo,
.dark .chroma .il {
    color: #79c0ff;
}

/* Classes and Functions */
.dark .chroma .nc,
.dark .chroma .nf {
    color: #d2a8ff;
}

/* Constants */
.dark .chroma .no {
    color: #d2a8ff;
}

/* Built-in Constants */
.dark .chroma .kc {
    color: #ffb4a1;
}

/* Variable and Property Names */
.dark .chroma .nv,
.dark .chroma .py {
    color: #ffdfb6;
}

/* Additional Keywords */
.dark .chroma .kt {
    color: #f0f6fc;
}

/* Punctuation */
.dark .chroma .p {
    color: #c9d1d9;
}

/* Operators */
.dark .chroma .o {
    color: #ff7b72;
}

/* Boolean Constants */
.dark .chroma .nb {
    color: #ff7b72;
}

/* Decorators / Annotations */
.dark .chroma .nd {
    color: #7ee787;
}

/* Exceptions */
.dark .chroma .ne {
    color: #e2c5ff;
}

/* Library Functions */
.dark .chroma .nf {
    color: #7ee787;
}

/* Metadata / Preprocessor Instructions */
.dark .chroma .cp {
    color: #ff7b72;
}

/* Selection */
.dark .chroma .gd {
    background-color: #36141c;
}

.dark .chroma .gi {
    background-color: #0e4429;
}

.dark .chroma .gh {
    color: #d2a8ff;
}

.dark .chroma .gp {
    color: #8b949e;
}

.dark .chroma .gs {
    font-weight: bold;
}

.dark .chroma .gu {
    color: #e2c5ff;
}

.dark .chroma .gt {
    color: #ffa657;
}

/* Diff */
.dark .chroma .gd {
    color: #ffdcd7;
    background-color: #67060c;
}

.dark .chroma .gi {
    color: #aff5b4;
    background-color: #033a16;
}
